apiVersion: v1
kind: Service
metadata:
  name: mkrew-backend
  namespace: default
  labels:
    app: mkrew-backend
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: mkrew-backend
    tier: backend
